---
permalink: "/konzerte/"
pictures:
- path: 
  caption: 
layout: default
---

<h1>Konzerte</h1>

<div class="editable">
<p>Seit 2002 hat Der CHOR fünfzehn grosse Konzertprojekte umgesetzt.</p>    
</div>

{% assign sorted_concerts = site.concerts | reverse %}
{% for concert in sorted_concerts %}
  {% if concert.empty != true%}
    <a href="{{ concert.url }}" class="concert-preview-link">
      <div class="concert-preview">
        <div class="concert-preview-image" style="background-image: url({{concert.theme_image_path}})"></div>
        <div class="concert-preview-title"><small>{{concert.year}}</small><br>{{ concert.name }}</div>
        <div class="concert-preview-subtitle">{{concert.subtitle}}</div>      
      </div>
    </a></p>
  {% else %}
    <a class="concert-preview-link is-empty">
      <div class="concert-preview">
        <div class="concert-preview-image" style="background-image: url({{concert.theme_image_path}})"></div>
        <div class="concert-preview-title"><small>{{concert.year}}</small><br>{{ concert.name }}</div>
        <div class="concert-preview-subtitle">{{concert.subtitle}}</div>      
      </div>
    </a></p>

  {% endif %}
{% endfor %}

