---
title: Vergangenes
permalink: "/vergangenes/"
---

<div class="editable">
<p>Seit 2002 hat Der CHOR fünfzehn grosse Konzertprojekte umgesetzt.</p>    
</div>

<div class="grid grid-large">
  <div class="grid-width-9">
    <h2 class="">Konzerte</h2>
    <div class="concert-list">
      {% assign sorted_concerts = site.concerts | reverse %}
      {% for concert in sorted_concerts %}
        <a href="{{ concert.url }}" class="concert-preview concert-preview-link shadow">      
          <div class="concert-preview-image" style="background-image: url({{concert.featured_image_path}})"></div>
          <div class="concert-preview-title"><small>{{concert.year}}</small><br>{{ concert.name }}</div>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="grid-width-3">
    <h2 class="">Anderes</h2>
    <div class="concert-list">
      {% for post in site.posts %}
        <a href="{{ post.url }}" class="concert-preview concert-preview-link shadow">      
          <div class="concert-preview-title"><small>{{post.date | date: "%Y"}}</small><br>{{ post.title }}</div>
        </a>
      {% endfor %}
    </div>
  </div>


</div>

