<header class="pl-8">
  <a href="/" class="brand "><img src="/images/logo.jpg" alt=""></a>
  <nav>
    <ul class="">
      <li class=""><%= link_to 'DerChor', '/' %></li>
      <li class=""><%= link_to 'Vergangenes', '/vergangenes' %></li>
      <li class=""><%= link_to 'Kontakt', '/kontakt' %></li>
      <li> <a href="https://www.facebook.com/derchor" title="derchor auf facebook"><i class="fab fa-facebook"></i></a></li>
    </ul>
  </nav>
</header>
