<header class="overflow-x-scroll md:flex w-full top-0 p-2 bg-white z-10 uppercase tracking-widest text-sm md:text-base md:py-8 no-underline max-w-6xl mx-auto">
  <a href="/" class="md:w-5/12 block text-right"><img src="/images/logo.jpg" alt="" class="hidden w-48 float-right""></a>
  <nav class="md:w-7/12">
    <ul class="flex pr-8">
      <li class="mx-2"><%= link_to 'DerChor', '/' %></li>
      <li class="mx-2"><%= link_to 'Vergangenes', '/vergangenes' %></li>
      <li class="mx-2"><%= link_to 'Gönner', '/goenner' %></li>
      <li class="mx-2"><%= link_to 'Kontakt', '/kontakt' %></li>
      <li class="mx-2 pr-8"> <a href="https://www.facebook.com/derchor" title="derchor auf facebook"><i class="fab fa-facebook"></i></a></li>
    </ul>
  </nav>
</header>
