<header class="overflow-x-scroll w-full xl:w-64 xl:mr-8 flex-shrink-0 top-0 p-2 bg-white z-10 uppercase tracking-widest text-sm md:text-base md:py-8 xl:py-0 no-underline">
  <a href="/" class="block"><img src="/images/logo.jpg" alt="" class="hidden xl:block w-48""></a>
  <nav class="md:w-7/12">
    <ul class="flex xl:flex-col pr-8">
      <li class="mx-2 xl:pb-2"><%= link_to 'DerChor', '/' %></li>
      <li class="mx-2 xl:pb-2"><%= link_to 'Vergangenes', '/vergangenes' %></li>
      <li class="mx-2 xl:pb-2"><%= link_to 'Gönner', '/goenner' %></li>
      <li class="mx-2 xl:pb-2"><%= link_to 'Kontakt', '/kontakt' %></li>
      <li class="mx-2 xl:pb-2 pr-8"> <a href="https://www.facebook.com/derchor" title="derchor auf facebook"><i class="fab fa-facebook"></i></a></li>
    </ul>
  </nav>
</header>
