.audio-list {
  width: 100%;
  max-width: 100%;
}
.audio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  align-items: center;

  .audio-title {
    margin-right: 0.5em;
    flex: 0 0 auto;

  }

  audio {
    flex: 1 0 auto;
    background-color: #95B9C7;
    max-width: 100%;
  }
}