.concert-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.concert-preview {
  width: 11rem;
  max-width: 45%;
  min-width: 10rem;
  margin: 0.5rem 1rem 1rem 0;
  text-decoration: none;
  overflow: hidden;

  .concert-preview-image {
    height: 11rem;
    background-position: center center;
    background-size: cover;
  }
  .concert-preview-title {
    padding: 1rem;
    font-size: 1rem;
  }
}