.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.gallery a {
  margin: 1px
}

.gallery a {
  text-decoration: none;
  width: 8rem;
  min-width: 3rem;
  height: 8rem;
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;  position: relative;
  background-size: cover;
  background-position: center center;
}

.gallery {
  .gallery-more {
    align-content: center;
    text-align: center;
    color: #999;
    width: 100%;
    line-height: 8rem;
    background-color: rgba(0,0,0,0.5);

    &:hover {
      color: white;
      background-color: rgba(0,0,0,0.25);
    }
  }

}