.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.gallery a {
  margin: 1px
}

.gallery a {
  width: 25%;
  height: 10em;
  flex: 1 1 auto;
  overflow: hidden;
  display: block;
  background-size: cover;
  background-position: center center;
}