nav {
  margin: 1.5em 0 4em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  // text-align: right;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
  margin-top: 1em;
}

nav a {
  text-decoration: none;
}

@media all and (max-width: 55em) {
  header {
    margin-bottom: -3em;
  }
  // nav {
  //   margin-bottom: 10em;
  // }
  // .background {
  //   top: 6em;
  // }
}