<p class="pagination">
  <a href="<%= next_concert %>" title="" class="pagination-link" <% unless next_concert %>disabled<% end %>>&#x2190;</a>
  <a href="<%= previous_concert %>" title="" class="pagination-link" <% unless previous_concert %>disabled<% end %>>&#x2192;</a>
</p>
