<% if current_page.data.songs.present? %>
  <h2>Hörbeispiele</h2>
  <div class="audio-list">
    <% current_page.data.songs.each do |song| %>
      <div class="audio">
        <div class="audio-title"><%= song.title %></div>
        <audio src="<%= song.audio_path %>" controls preload="metadata"></audio>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
    var songs = document.getElementsByTagName('audio');

    pauseOtherSongs = function (e){
      for(var i = 0; i < songs.length; i++) {
        if(e.target != songs[i]) {
          songs[i].pause();
        }
      }
    }
    for(var i = 0; i < songs.length; i++) {
      songs[i].addEventListener('playing',pauseOtherSongs)
    }
  </script>
<% end %>
