{% if page.images.first.image_path != '' %}
  <div>
    <div id="{{include.id}}" class="gallery">
      <!-- show  first four images -->
      {% for image in page.images limit:4 %} 
        <a href="{{image.image_path | relative_url}}" style="background-image: url({{image.image_path  | relative_url}})"></a>
      {% endfor %}
      <!-- show  placeholder for further images -->
      {% for image in page.images offset:4 | limit: 1 %}
        <a href="{{image.image_path | relative_url}}" style="background-image: url({{image.image_path | relative_url}})">
          <div class="gallery-more">{{ page.images.size | minus: 4 }} weitere</div>
        </a>
      {% endfor %}
      <!-- hide remaining images -->
      {% for image in page.images offset: 5 %}
       <a href="{{image.image_path | relative_url}}" style="display: none;"></a>
      {% endfor %}
    </div>
  </div>


  <link rel="stylesheet" href="{{site.baseurl}}/public/gallery/magnific-popup.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{site.baseurl}}/public/gallery/jquery.magnific-popup.min.js"></script>

  <script type="text/javascript" charset="utf-8">
    $('#{{include.id}}').magnificPopup({
    delegate: 'a', // child items selector, by clicking on it popup will open
    type: 'image',
    gallery:{enabled:true}
  });

  </script>
{% endif %}
