<header class="">
  <a href="/" class="brand"><img src="{{"/images/logo.jpg" | relative_url }}" alt=""></a>
  <nav>
    <ul>
      <li><a href="{{ "/" | relative_url }}" title="">DerChor</a></li>
      <li><a href="{{ "/vergangenes.html" | relative_url }}" title="">Vergangenes</a></li>
      <li><a href="{{ "/kontakt.html" | relative_url }}" title="">Kontakt</a></li>
      <li> <a href="https://www.facebook.com/derchor" title="derchor auf facebook"><i class="fab fa-facebook"></i></a></li>
    </ul>
  </nav>
</header>