body {
  background-size: cover;
  background-repeat: no-repeat;
}



a.brand img {
  width: 100%;
  max-height: 2em;
  margin-left: -0.7em
}

@media screen and (max-width: $break-point) {
  .container { padding: 1.5, 0.5em; }
}

main {
  padding-top: 12em;
  max-width: 40rem;

}

.theme {
  z-index: -1000;
  content: '';
  position: absolute;
  width: 100%;
  top: 1.5em;
  left: 0;
  height: 25em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
} 

.theme:after {
  z-index: -999;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
} 

.theme:before {
  z-index: -999;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
} 

header .brand {
  max-width: 20em;
}

.container {
  position: absolute;
  right: 0;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  max-width: 80em;
}


