body {
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  padding: 2em;
  float: left;
}

a.brand {
  float: left;
  width: 20em;
}

a.brand img {
  width: 100%;
}

main {
  padding-right: 5%;
  max-width: 40em; 
  width: 90%;
  float: right;
}

// .row {
//   display: flex;
//   flex-wrap: wrap;
// }

// .row > * {
//   flex: 1 1 auto;
//   max-width: 35em;
//   padding: 1em;
// }

.container {
  max-width: 65em;
  margin: auto;
  position: relative;
}

body:before {
  content: '';
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  z-index: -999;
}

@media screen and (max-width: 65em) {
  body:before {
    width: 45em;
  }
}

@medai screen and (max-width: 45em) {
  .background:after {
    display: none;
  }
}




.background {
  position: absolute;
  width: 100%;
  max-height: 90%;
  overflow: hidden;
    filter:blur(1px);
  -o-filter:blur(1px);
  -ms-filter:blur(1px);
  -moz-filter:blur(1px);
  -webkit-filter:blur(1px);

}

.background img {
  width: 100%;
}

// .background:before {
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 0;
//   height: 3em;
//   content: '';
// }

.background:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10em;
  content: '';
}