@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');


body {
    // font-family: 'Lucida Sans Unicode', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  font-size: 18px
}

p {
  line-height: 150%;
  font-size: 1rem;
}

h1, h2 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
}

h1 {
  font-size: 3.5rem;
  line-height: 120%;
}

h2 {
  font-size: 2rem;
}

