{% include html-start.html %}   

{% if page.featured_image_path != '' %}
	<div class="grid grid-large">
	  {% if page.featured-image_path != '' %}<div class="grid-width-5 featured-image">
	    <img src="{{page.featured_image_path | relative_url}}" alt="" class="shadow" />
	  </div>{% endif %}
	  <div class="grid-width-7 text-content">
	    <div>
          {% include pagination.html %}
          <p class="no-margin">{{page.date | date: '%Y'}}</p>
          <h1 class="no-margin">{{page.title}}</h1>
	      {{content}}
	    </div>
	    <div class="media desktop-only">
	      <div>
		      {% include image-gallery.html id="gallery-left" %}
	      </div>
	    </div>
	  </div>
	</div>
{% else %}
	{% include pagination.html %}
  	<p class="no-margin">{{page.date | date: '%Y'}}</p>
  	<h1>{{page.title}}</h1>
    {{content}}
    <div class="media mobile-only">
      <div>{% include media-gallery.html %}</div>
    </div>
{% endif %}

{% include html-end.html %}