{% include html-start.html %}   

{% if page.featured_image_path != '' %}
  <div class="grid grid-large">
    {% if page.featured-image_path != '' %}<div class="grid-width-5 featured-image">
      <img src="{{page.featured_image_path | relative_url}}" alt="" class="shadow" />
    </div>{% endif %}
    <div class="grid-width-7 text-content" style="margin-top: 0; padding-top: 0;">
      <div>
          {% include pagination.html %}
          <p class="no-margin">{{page.date | date: '%Y'}}</p>
          <h1 class="no-margin">{{page.title}}</h1>
        {{content}}
      </div>
      <div class="media desktop-only">
        <div>
          {% include image-gallery.html id="gallery-left" %}
        </div>
      </div>
    </div>
  </div>
{% else %}
  {% include pagination.html %}
    <p class="no-margin">{{page.date | date: '%Y'}}</p>
    <h1>{{page.title}}</h1>
    <div class="grid grid-large">
      <div class="grid-width-4 text-content">
        {{ content }}
      </div>
      <div class="grid-width-8">
        <h2>Konzerte</h2>
        <div class="concert-list">
          {% assign sorted_concerts = site.concerts | reverse %}
          {% for concert in sorted_concerts %}
            {% unless concert.current_concert %}
            <a href="{{ concert.url | relative_url }}" class="concert-preview concert-preview-link shadow">      
              <div class="concert-preview-image" style="background-image: url({{concert.featured_image_path | relative_url }})"></div>
              <div class="concert-preview-title"><small>{{concert.year}}</small><br />{{ concert.name }}</div>
            </a>
            {% endunless %}
          {% endfor %}
        </div>
        <h2>Anderes</h2>
        <div class="concert-list">
          {% for post in site.posts %}
            <a href="{{ post.url | relative_url }}" class="concert-preview concert-preview-link shadow">      
              <div class="concert-preview-title"><small>{{post.date | date: "%Y"}}</small><br />{{ post.title }}</div>
            </a>
          {% endfor %}
        </div>
      </div>


    </div>

    <div class="media mobile-only">
      <div>{% include media-gallery.html %}</div>
    </div>
{% endif %}

{% include html-end.html %}